.category-name {
  display: block;
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.play-btn {
  display: none;
}

.link-container:hover .play-btn  {
  display: block;
}